.non-active {
    display: none;
}

.dropdown {
    background-color: none;
    transition: all 0.5s;

    &:hover {
        background-image: linear-gradient(349deg, transparent 7%, rgba(187, 96, 213, 1) 23%, rgba(35, 62, 213, 1) 53%);
        translate: 10px;
    }
}

.mobile {
    transition: all 0.3s;
    translate: -300px;
}
